body {
	background:  url("images/geometry2.png");
	margin: 0;
	padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif;
	color: #272727;
}
a {
	text-decoration: none;
}
a:hover {
	transition: all 0.5s;
}
div.clearfix {
	clear: both;
}
/*Структура сайта*/
div.mid {
	width: 1000px;
	margin: 0 auto;
}
header {
	background: #101417;
}
footer {
	margin: 40px 0;
	text-align: center;
	text-transform: uppercase;
}
/* Шапка сайта*/
.topmenu {
	float: right;
	height: 70px;
	line-height: 70px;
}
.topmenu a {
	 margin: 0 0 0 10px;
	 color: #1683a3;
}
.topmenu a:hover {
	color: #ffffff;
}
.afisha {
	padding: 20px 50px 0px 50px;
	background: #f2f2f2 url("images/headline.png") top repeat-x;
}
div.afisha img {
	float: left;
}
div.afisha h3 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #830000;
}
div.afisha p {
	text-align: center;
}
div.afisha a {
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	background: #ff0000;
	border: 1px solid #ff0000;
	padding: 5px 15px;
	border-radius: 3px;
	box-shadow: 2px 2px 7px -1px #777;
	text-shadow: 2px 2px 3px #8b0000;
}
div.afisha a:hover {
	background: #1e90ff; 
	border: 1px solid #1e90ff;
	text-shadow: 2px 2px 3px #00008b;
}
/*Главное меню*/
.menu .mid nav ul {
	display: flex;     /* Флексбокс меню*/
	list-style: none;  /* Отмена маркеров списка*/
	justify-content: space-around; /* Выравнивание элементов с отступом от краёв*/
}
.menu {
	background: #1683a3;
	border: 1px solid #016c8b
}
div.menu ul li a {
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 1px 2px 3px #0b4455;
}
div.menu ul li a:hover {
	color: #1e90ff;
}
/*Контент сайта*/
div.fon {
	background: #ffffff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 40px;
}
div.fon hr.line {
	border: none;
	border-bottom: 1px dashed #ccc;
	height: 0;
	margin: 40px 0;
}
div.block {
	width: 440px;
	float: left;
}
div.block:nth-of-type(even) {
	float: right;
}
div.anons {
	background: #dcdcdc;
	border: 1px solid #696969;
	border-radius: 3px;
	padding: 20px;
}
div.anons img {
	box-shadow: 1px 1px 5px #000;
}
div.anons h3 {
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 20px 0 10px;
	padding: 0;
	color: #01617d;
}
div.anons p {
	text-shadow: 1px 1px 0 #fff;
}
div.block a {
	color:#272727;
}
div.anons:hover {
	background: #e0eff4; 
	border: 1px solid #bfd5dd;
	transition: all 1s;
}
div.rec img {
	border: 1px solid #696969;
	border-radius: 3px;
}
div.clear {
	clear: both;
}
/*Подвал*/
footer span {
	margin: 0 20px;
}